{% extends 'base.html' %}
{% block content %}
<div id="feeds-list">
    <h1>게시판</h1>            
    <ul class="feeds">
            <div class="feeds-head">
                <div class="post-id">번호</div>
                <div class="title">제목</div>
                <div class="score">평점</div>
                <div class="writer">작성자</div>                                
                <div class="hit">조회수</div>
                <div class="create_date">작성일자</div>
            </div>
        {% for post in posts %}   
        <li class="post">
            <div class="post-id">{{ post.id }}</div> 
            <div class="title"> <a href="{% url 'reviews:feed_detail' post_id=post.id %}">{{ post.title }}</a></div>
            <div class="score">
                {% for i in "x"|rjust:post.score %}
                    ★
                {% endfor %}
                

            </div>
            <div class="writer">{{ post.user.user_id }}</div>                                
            <div class="hit">{{ post.view }}</div>
            <div class="create_date">{{ post.created_at|date:'m.d H:i' }}</div>
        </li>  
    {% endfor %}
</ul>           
<a class="feed-add" href="{% url 'reviews:feed_add' %}">글쓰기</a>

</div>
{% endblock %}