{% extends 'base.html' %}
{% block content %}

<article class="post-detail" id="post-{{ post.id }}">
    
    <div class="title"> <p>작성자 {{ post.user.user_id }}</p>  <p>{{ post.title }}</p> <p>{{ post.created_at}}</p></div>
    <div class="hits">조회수 : {{ post.view }}</div>
    <div class="post-images splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% if image.photo %}
                    {% for image in post.postimage_set.all %}                    
                        <li class="splide__slide">
                            <img src="{{ image.photo.url }}">
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="content">
        {{ post.content }}
    </div> 
    <div class="btn-tab">
        <button  onclick="location.href='/reviews/' "class="button" href="{% url 'reviews:feeds_list' %}">목록</button>
        
        {% if user == post.user %}
            <form method="POST" action="{% url 'reviews:feed_update_page'  post_id=post.id %}">
                <!-- comment.id의 comment는 for문 안의 comment에 해당하는 id-->
                {% csrf_token %}
                <button class="button" type="submit">수정</button>
            </form>
            <form method="POST" action="{% url 'reviews:feed_delete'  post_id=post.id %}">
                <!-- comment.id의 comment는 for문 안의 comment에 해당하는 id-->
                {% csrf_token %}
                <button class="button" type="submit">삭제</button>
            </form>                    
        {% endif %}
    </div>   
                
                

                
                
</article>
    <div class="comments">
        {% if post.comment_set.exists %}

        <p><b>{{ post.comment_set.count }}개의 댓글이 있습니다.</b></p>

        {% for comment in post.comment_set.all %}
            <li>    
                <p style="font-size: 20px;">{{ comment.user.user_id }}: {{ comment.content }} {{ comment.created_at|date:'m.d H:i' }}</p>
                {% if user == comment.user %}
                    <form method="POST" action="{% url 'reviews:comment_delete'  comment_id=comment.id %}">
                        <!-- comment.id의 comment는 for문 안의 comment에 해당하는 id-->
                        {% csrf_token %}
                        <button type="submit">삭제</button>
                    </form>
                {% endif %}
            </li>    
        {% endfor %}

        

        {% else %}
        <p>댓글이 없어요..</p>
    {% endif %}

    <div class="post-comment-create">
        <!-- action 속성을 "댓글 추가" View를 가리키는 URL로 지정 -->
        <form method="POST" action="{% url 'reviews:comment_add' post_id=post.id %}?next={% url 'reviews:feed_detail' post_id=post.id %}">
            {% csrf_token %}
            <!-- 사용자가 직접 입력하지 않는 고정된 데이터를 form 내부에 위치 -->
            <input type="hidden" name="post" value="{{ post.id }}">
            <!-- 전달된 commentForm의 필드들 중, "content"필드만 렌더링-->
            <!-- as_p를 content로 수정 -->
            {{ comment_form.content }} 
            <button type="submit">게시</button>
        </form>
    </div>
    </div>    


    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script>
        const elms = document.querySelectorAll(".splide")
        for(let i =0; i< elms.length; i++){
            new Splide(elms[i],{
                type: 'fade', //롤링 끝나면 반복
                autoplay : true, //자동시작
                rewind: true,
                perPage : 1, //한 페이지에 노출되는 이미지
                perMove : 1, //슬라이드 이미지 개수
                arrows : false, //왼쪽 오른쪽 슬라이드 버튼 제거
                drag : true, //드래그 비활성
                interval : 5000, //3000ms(3초) 마다 슬라이드
                pauseOnHover : false, //마우스 오버시 일시정지 비활성
                pauseOnFocus : false, //포커스시 일시정지 비활성
                pagination: false,
                fixedWidth: 300,
                fixedHeight: 300
            }).mount();
        }
    </script>
{% endblock %}



    