{% extends 'base.html' %}
{% block content %}
<div id="feed-update">
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        
        <input id="title" name="title" type="text" value="{{ post.title }}">
        <input type="number" id="score" name="score">      
        
        <textarea name="content" id="content" cols="30" rows="10">{{ post.content }}</textarea>
        
        <div>
            <label for="id_images">이미지</label>
            <input id="id_images" name="images" type="file" multiple>
        </div>
        
        
        <button type="submit" class="btn btn-primary"> 수정 </button>
    </form>
</div>          
{% endblock%}