.map-section{
    width: 100%;
    position: relative;
}
.map-section > .select > ul{
    width: 240px;
    height: 30px;
    line-height: 1.3rem;
    font-size: 1.3rem;
    
    padding: 7px;

    position: absolute;
    top: 5;
    left: 5;
    display: flex;    
    opacity: 0.8;
    z-index: 999;
    background-color: lightgrey;
    justify-content: space-around;
}
.map-section > .select > ul li{
    list-style-type: none;
    font-size: 14px;
    
    
}
.map-section > .select > ul li:hover{
    cursor: pointer;
}
