body {
    position: relative;
}
header{
    position: fixed;
    top: 0;    
    width: 100%;
    height: 50px;
    background-color: white;

    border-bottom: 1px solid lightgrey;

    display: flex;
    justify-content: space-between;
}
    header p {
        width: 100px;
        color: rgb(247, 202, 203);
        margin-left: 20px;
        font-weight: bold;
    }

section{
    margin-top: 50px;
}

#theme {
    width: 360px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

    #theme div {
        width: 50px;
        height: 50px;
        border-radius: 20px;
        background-color: rgb(247, 202, 203);
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid rgb(247, 202, 203);
        background-color: #fff; */
    }
        #theme div > img {
            width: 80%;
            height: 80%;
            border-radius: 20px;
            
        }


.wd_info{
    display: flex;
    flex-direction: column;
    width: 500px;
}
    .wd_info img {
        width: 100px;        
    }
#location {
    /* width: 20vw; */
    margin: 100px 0;
    margin-left: 50px;
}