{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Story</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block head%}{% endblock%}
</head>
<body>
    <header>
        <div class="header-left">
            <p><a href="/">Wedding Story</a></p>
            <p><a href="{% url 'index:map' %}">내 주변 찾기</a></p>
            <p><a href="{% url 'reviews:feeds_list' %}">후기</a></p>
        </div>
        <div class="header-right">
            

            {% if not user.is_authenticated %}
                <a href="{% url 'users:login' %}">로그인</a>
            {% else %}
                <a href="{% url 'users:detail' user.id %}">마이페이지</a>
                <a href="{% url 'users:logout' %}">로그아웃</a>
            {% endif %}
        </div>
    </header>
    
    {% block content %}{% endblock %}

</body>
</html>