{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>지도 생성하기</title>
    <link rel="stylesheet" href="{% static 'map.css' %}">
</head>
<body>
<!-- 지도를 표시할 div 입니다 -->
<div class="map-section">
    <div class="select">
        <ul>
            {% csrf_token %}
            <li id="hall">웨딩홀</li>
            <li id="studio">스튜디오</li>
            <li id="dress">드레스</li>
        </ul>
    </div>
    <div id="map" style="width:100% ;height:90vh;margin-top: 10vh;"></div>
</div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{map_key}}"></script>
<script type="text/javascript">

    // 가져오기 성공
    let lat = 0
    let lng = 0
    function getSuccess(position) {
        // 위도
        lat = position.coords.latitude;
        // 경도
        lng = position.coords.longitude;
        // 위도 경도 오차(m)
        const accuracy = Math.floor(position.coords.accuracy);
        // alert(lat +" "+ lng)


        var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = { 
            center: new kakao.maps.LatLng(lat,lng), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        
        // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
        let data = JSON.parse("{{ data | escapejs }}")
        console.log(data);
        var positions = []
        data.map(e => {
            var object = new Object();    
            // <img src="${data[i].img_url}" width="100">    
            object.content = `
                <div style="border:none">
                    
                    <span>${e.place_name}</span>
                    <span>${e.phone}</span>
                </div>`,
                iwRemoveable = true;
            object.latlng =new kakao.maps.LatLng(e.y, e.x)
            console.log(object);
            positions.push(object)
        })

        for (var i = 0; i < positions.length; i ++) {
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng // 마커의 위치
            });

            // 마커에 표시할 인포윈도우를 생성합니다 
        //     var infowindow = new kakao.maps.InfoWindow({
        //         content: positions[i].content, // 인포윈도우에 표시할 내용
        //         removable : iwRemoveable
        //     });

        //     // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        //     // 이벤트 리스너로는 클로저를 만들어 등록합니다 
        //     // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        //     kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        //     kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
        //     kakao.maps.event.addListener(marker, 'click', function() {
        //     // 마커 위에 인포윈도우를 표시합니다
        //     infowindow.open(map, marker);  
        // });
        }


    }


    const $select =  document.querySelector(".select")
    $select.onclick = (e) => {
        if(e.target.tagName != "LI") return;
        const keyword = e.target.getAttribute("id")
        fetchPy(keyword, lat, lng)


        
    }
    function fetchPy(keyword, lat, lng) {
        const csrftoken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
        console.log(csrftoken);
        fetch("/map/", {
            method: "POST",
            headers:{
                Accept: "application / json", 
                "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify({
                "x" : lng,
                "y" : lat,
            })
        }).then(res => res.text())
        .then(data => {         

            hall = JSON.parse(data).hall
            studio = JSON.parse(data).studio
            dress = JSON.parse(data).dress

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
            mapOption = { 
                center: new kakao.maps.LatLng(lat,lng), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

            var map = new kakao.maps.Map(mapContainer, mapOption);


            var positions = []
            hall.map(e => {
                var object = new Object();    
                // <img src="${data[i].img_url}" width="100">    
                object.content = `
                    <div style="border:none">
                        
                        <span>${e.place_name}</span>
                        <span>${e.phone}</span>
                    </div>`,
                    iwRemoveable = true;
                object.latlng =new kakao.maps.LatLng(e.y, e.x)
                // console.log(object);
                positions.push(object)
            })

            for (var i = 0; i < positions.length; i ++) {
                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    map: map, // 마커를 표시할 지도
                    position: positions[i].latlng // 마커의 위치
                });
            }




        })
    }



     // 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
    function makeOverListener(map, marker, infowindow) {
            return function() {
                infowindow.open(map, marker);
            };
        }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다 
    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }
    
    // 가지오기 실패(거부)
    function getError() {
        alert('Geolocation Error');
    }
    navigator.geolocation.getCurrentPosition(getSuccess, getError);

</script>
</body>
</html>