{% extends 'base.html' %}
{% block content %}
<div class="c_header">
    <h4>마이페이지</h2>
</div>
<table class="table">
    <tr>
        <th width='20%'>아이디</th>
        <td>{{user.user_id}}</td>      
    </tr>
    <tr>
        <th>이름</th>
        <td>{{user.name}}</td>      
    </tr>
    <tr>
        <th>프로필 사진</th>
        <td>
            {% if user.profile_image %}                
                <img src = '{{user.profile_image.url}}'>
            {% else %}
                <img src="" alt="">            
            {% endif %} 
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
            
        </td>
    </tr>
    <tr>
        <th width='20%'>이메일</th>
        <td>{{user.email}}</td>      
    </tr>
    <tr>
        <th>전화번호</th>
        <td>{{user.user_tel}}</td>      
    </tr>
</table>
<a href="">내 정보수정</a>


{% endblock %}
