{% extends 'base.html' %}
{% block content %}
<section>
    <h2>개인 정보</h2>
    <p>아이디: : {{ user.user_id }}<span id="userId"></span></p>
    <p>이메일: {{ user.email }}<span id="userEmail"></span></p>
    <p>주소:{{ user.address }}<span id="userAddress"></span></p>
    <p>프로필 사진:{{ user.profile_image }}</p>
    <img id="profilePic" src="프로필_이미지_URL" alt="프로필 사진">
    
    <!-- 프로필 사진 업로드 버튼 -->
    <input type="file" accept="image/*" id="profilePicInput">
    <button onclick="uploadProfilePic()">프로필 사진 업로드</button>

    <script>
        // 프로필 사진 업로드 함수
        function uploadProfilePic() {
            var input = document.getElementById('profilePicInput');
            var file = input.files[0];

            // 파일 유효성 검사
            if (file) {
                // 이미지 파일인지 확인
                if (file.type.startsWith('image/')) {
                    // 파일 업로드 동작 구현
                    // 여기에 파일 업로드 코드를 작성합니다.
                    alert('프로필 사진이 업로드되었습니다.');
                } else {
                    alert('이미지 파일을 선택해주세요.');
                }
            } else {
                alert('파일을 선택해주세요.');
            }
        } 
    </script> 

</section>
{% endblock %}
