{% extends 'base.html' %}
{% load static%}
{% block head %}
<style>
    body{
        height: 100%;
        background-image: url("https://img.freepik.com/free-vector/pink-flower-frame-background-with-watercolor_65186-2566.jpg?w=1380&t=st=1708341988~exp=1708342588~hmac=dd5ef67d2596a26c30d72142d334fed8a70c087f9400f1c93b93bec912f5a2c1");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}
{% block content %}
<div id="login">
    <h2>Login</h2>
    <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <p>아이디</p>
            <input  type="text" name="username">
        <br>
        <p>비밀번호</p>
            <input type="password" name="password">
        <br>
        {% if error %}
        <p>{{error}}</p>    
        {% endif %}
        <!-- <label for="remember-check">
        </label>
            <input type="checkbox" id="remember-check">아이디 저장하기 -->
        <button type="submit" class="btn btn-login">로그인</button>
        <div class="login-hover">
            <p class="not">계정이 없으신가요?</p>
            <a class="go" href="{% url 'users:signup' %}">회원가입 하러가기</a>
        </div>
    </form>
</div>
{% endblock %}
