<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
</head>
<body>
<div id="signup">
    <form method="POST" enctype="multipart/form-data">
        <h2>회원가입</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <p>username</p>
        <input type="text" name="username">
        <br>
        <p>password</p>
        <input type="text" name="password">
        <br>
        <p>confirm</p>
        <input type="text" name="confirm">
        <br>
        <button type="submit" class="btn btn-signup">회원가입</button>
        <a href="{% url 'users:login' %}">로그인 페이지로 이동</a>
    </form>
</div>

</body>
</html>